@use './variables.scss';

.deco-line-400 {
    width: 400px;
    height: .75px;
    background-color: $dec-grey;
    position: relative;
}

.next-arrow {
    margin-left: 10px;
    margin-bottom: .05rem;
}

.back-arrow {
    margin-right: 10px;
    margin-bottom: .05rem;
}

.icon.favorite-star {
    color: $text-grey;
}

.icon.favorite-star.favorite {
    color: $favorite-yellow;
}

.icon.comment {
    color: $text-grey;
    margin-top: .05rem;
    margin-right: .5rem;
}

.icon.discard {
    font-size: calc($p-font-size - .125rem);
}