@use './variables.scss';

.deco-line-400 {
    width: 400px;
    height: .75px;
    background-color: $dec-grey;
    position: relative;
}

.deco-divider {
    width: 100%;
    height: .05px;
    background-color: $dec-grey;
}

.next-arrow {
    margin-left: 10px;
    margin-bottom: .05rem;
}

.back-arrow {
    margin-right: 10px;
    margin-bottom: .05rem;
}

.icon.favorite-star {
    color: $text-grey;
}

.icon.favorite-star.favorite {
    color: $favorite-yellow;
}

.icon.favorite-star.title {
    color: $black;
    font-size: .75rem;
    padding-bottom: .5rem;
}

.icon.user-group {
    color: $black;
    font-size: .75rem;
    padding-bottom: .05rem;
}

.icon.comment {
    color: $text-grey;
    margin-top: .05rem;
    margin-right: .5rem;
}

.icon.discard {
    font-size: calc($p-font-size - .125rem);
}

.icon.add-tag {
    color: $text-grey;
    font-size: .65rem;
}
.icon.tag-form-search {
    color: $text-grey;
    font-size: .80rem;
}

.icon.tag-form-clear {
    color: $text-grey;
    cursor: pointer;
    transition: $transition-duration;

    &:hover {
        color: $status-dark-red;
    }
}

.icon.remove-tag {
    
}

.icon.tag-editor-icon {
    color: $dec-grey;
    position: absolute;
    right: 10px;
    bottom: 5px;
    transition: $transition-duration;
    padding: 5px;
    
    border-radius: $border-radius;
    width: 15px;
    height: 15px;
    
    &:hover {
        color: $black;
        background-color: $dec-grey;
    }


}



.deco-line {
    width: 100%;
    height: .5px;
    background-color: $dec-grey;
}

.is-selected {
    width: 5px;
    height: 5px;
    border-radius: 20px;
    background-color: $black;
}