@use './variables.scss';

// error handling for logging in
.error-message {
    font-size: .85rem;
    color: $dark-red;
    margin-left: $pm-space;
    margin-top: $pm-space;
}

.form-input {
    .error-input {
        border: .75px solid $dark-red;
    }
}

.server-error-container {
    border: .75px solid $dark-red;
    border-radius: $border-radius-sm;
    padding: $pm-space;
    background-color: $light-red;
    
    p {
        color: $dark-red;
        font-size: .85rem;
    }
}

// error handling for task cards
.task-card {
    .input-error {
        border-bottom: .75px solid $dark-red;
    }
}