@use './variables.scss';

.sidebar {
    width: $sidebar-width;
    height: 100vh;
    max-height: 100vh;
    background-color: $cream;
    border-right: $border;
    position: fixed;
    left: 0;
    top: 0;
    
    padding-left: $pm-space-lg;
    padding-right: $pm-space-lg;
}

.name-tag {
    padding-top: $pm-space-xl;

    .avatar {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        object-fit: cover;
        margin-right: $pm-space;
        position: relative;
    }
}

.home-feed {
    width: calc(100vw - ($sidebar-width + 80px));
    height: 100vh;
    // background-color: $light-red;
    margin-left: calc($sidebar-width + $pm-space-lg + $pm-space-lg);
    padding-left: $pm-space-lg;
    padding-right: $pm-space-lg;
    padding-top: 100px;

    .feed-header {
        position: fixed;
        // setting z-index for header
        z-index: 999;
        top: 0;
        width: 100%;
        
        .bg-white {
            background-color: $white;
        }

        .header-shadow {
            height: 40px;
            width: 100%;
            background-image: linear-gradient($white, transparent);
        }

    }

    .feed-content {
        padding-left: $pm-space-xxl;
        padding-right: $pm-space-xxl;
    }
}

.search-bar {
    border-bottom: $border-thick;
    padding-bottom: 5px;
    color: $text-grey;
    width: $searchbar-width;
    transition: all $transition-duration;

    &:focus-within {
        border-bottom: $border-thick-black;
        color: $black;
        
        input {
            color: $black;
        }
    }

    &-submit {
        margin-right: 5px;
    }

    &-clear {
        cursor: pointer;
        margin-left: auto;
        position: absolute;
        right: 0;
        transition: all .15s;
    }

    &-clear.hidden {
        opacity: 0;
    }

    input {
        font-family: $font;
        font-weight: 700;
        padding: 5px;
        width: calc($searchbar-width - 4rem);
        height: 7.5px;
        color: $text-grey;
        border: 0;
        background-color: $white;

        &:focus {
            outline: none;
        }

        &:focus-within {
            outline: none;
        }
    }
}

.btn.plus-button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: $cream;
    background-color: $black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: $pm-space-xl;
    right: $pm-space-lg;
    cursor: pointer;
}

/* 
==================== 
CODE IN TESTING
==================== 
*/
