@use './variables.scss';

.sidebar {
    width: $sidebar-width;
    height: 100vh;
    background-color: $cream;
    border-right: $border;
    position: absolute;
    left: 0;
    top: 0;
    
    padding-left: $pm-space-lg;
    padding-right: $pm-space-lg;
}

.name-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: $pm-space-xl;

    .avatar {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        object-fit: cover;
        margin-right: $pm-space;
    }
}

.home-feed {
    width: calc(100vw - ($sidebar-width + $pm-space-lg + $pm-space-lg + $pm-space-xxl));
    height: 100vh;
    // background-color: $light-red;
    margin-left: calc($sidebar-width + $pm-space-lg + $pm-space-lg);
    padding-top: $pm-space-xl;
    padding-left: $pm-space-lg;
    padding-right: $pm-space-lg;

    .feed-header {
        margin-bottom: $pm-space-xl;
    }

    .feed-content {
        padding-left: $pm-space-xxl;
        padding-right: $pm-space-xxl;
    }
}

.task-card {
    max-width: 800px;
    width: calc(100%);
    background-color: $cream;
    border: $border-thick;
    border-radius: $border-radius;
}