@use './variables.scss';

.sidebar {
    width: $sidebar-width;
    height: 100vh;
    max-height: 100vh;
    background-color: $cream;
    border-right: $border;
    position: fixed;
    left: 0;
    top: 0;
    
    padding-left: $pm-space-lg;
    padding-right: $pm-space-lg;
}

.name-tag {
    padding-top: $pm-space-xl;

    .avatar {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        object-fit: cover;
        margin-right: $pm-space;
        position: relative;
    }
}

// ($sidebar-width + $pm-space-lg + $pm-space-lg + $pm-space-xxl)

.home-feed {
    width: calc(100vw - ($sidebar-width + 80px));
    height: 100vh;
    // background-color: $light-red;
    margin-left: calc($sidebar-width + $pm-space-lg + $pm-space-lg);
    padding-left: $pm-space-lg;
    padding-right: $pm-space-lg;
    padding-top: 100px;

    .feed-header {
        position: fixed;
        top: 0;
        width: 100%;
        
        .bg-white {
            background-color: $white;
        }

        .header-shadow {
            height: 40px;
            width: 100%;
            background-image: linear-gradient($white, transparent);
        }

    }

    .feed-content {
        padding-left: $pm-space-xxl;
        padding-right: $pm-space-xxl;
    }
}


.task-card {
    max-width: 800px;
    width: calc(100%);
    background-color: $cream;
    border: $border-thick;
    border-radius: $border-radius;
    padding: $pm-space-lg;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: row;

    .task-card-checkbox {
        box-shadow: $checkbox-box-shadow;
        width: 15px;
        height: 15px;
        border: $border-thick;
        border-radius: $border-radius-sm;
        cursor: pointer;
    }

    .task-card-content {
        width: 100%;
    }

}

.new-task-card {
    flex-direction: column;
    letter-spacing: $letter-spacing-plus;

    &-container {
        margin-left: $pm-space-xxl;
    }

    textarea {
        background-color: $cream;
        font-family: $font;
        border: none;
        height: 60px;
        color: $black;
        width: calc(100% - $pm-space-xxl);
        resize: none;

        &::placeholder {
            color: $dec-grey;
        }

        &:focus {
            outline: none;
        }
    }

    input {
        font-family: $font;
        border: 0;
        font-size: $h2-font-size;
        font-weight: bold;
        color: $black;
        display: flex;
        flex-direction: row;

        &.description {
            font-size: $p-font-size-lg;
        }

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $dec-grey;
            font-family: $font;
        }
    }

    h3 {
        color: $black
    }
}

.tags {
    width: 100%;
    display: inline-block;

    .action-tag {
        padding: 0px $pm-space-lg;
    }
    
    .tag {
        border-radius: $border-radius;
        padding: $pm-space-xsm $pm-space-lg;
        display: inline-block;
        cursor: pointer;
        background-color: $white;

        p {
            font-size: .9rem;
            display: inline-block;
        }
    }

    .green {
        background-color: $light-green;
        border: $border-green;
        p { color: $dark-green; }
        transition: $transition-duration;
    
        &.unselected {
            background-color: $white;
            border: $border;
            p { 
                color: $text-grey; 
            }
            .status-symbol {
                filter: saturate(0%);
            }
        }

        &:hover {
            background-color: $light-green;
            border: $border-green;
            p { color: $dark-green; }
            .status-symbol {
                filter: saturate(100%);
            }
        }
    }

    .yellow {
        background-color: $light-yellow;
        border: $border-yellow;
        p { color: $dark-yellow; }
        transition: $transition-duration;
    
        &.unselected {
            background-color: $white;
            border: $border;
            p { 
                color: $text-grey; 
            }
            .status-symbol {
                filter: saturate(0%);
            }
        }

        &:hover {
            background-color: $light-yellow;
            border: $border-yellow;
            p { color: $dark-yellow; }
            .status-symbol {
                filter: saturate(100%);
            }
        }
    }

    .red {
        background-color: $light-red;
        border: $border-red;
        p { color: $status-dark-red; }
        transition: $transition-duration;
    
        &.unselected {
            background-color: $white;
            border: $border;
            p { 
                color: $text-grey; 
            }
            .status-symbol {
                filter: saturate(0%);
            }
        }

        &:hover {
            background-color: $light-red;
            border: $border-red;
            p { color: $status-dark-red; }
            .status-symbol {
                filter: saturate(100%);
            }
        }
    }
}

.time {
    align-items: center;
    input {
        font-size: $p-font-size;
        color: $black;
        padding: $pm-space-xsm;
        letter-spacing: .05rem;

        &::placeholder {
            color: $dec-grey;
            font-family: $font;
        }
    }


}

.search-bar {
    border-bottom: $border-thick;
    padding-bottom: 5px;
    color: $text-grey;
    width: $searchbar-width;
    position: relative;
    transition: all $transition-duration;

    &:focus-within {
        border-bottom: $border-thick-black;
        color: $black;
        
        input {
            color: $black;
        }
    }

    &-submit {
        margin-right: 5px;
    }

    &-clear {
        cursor: pointer;
        margin-left: auto;
        position: absolute;
        right: 0;
        transition: all .15s;
    }

    &-clear.hidden {
        opacity: 0;
    }

    input {
        font-family: $font;
        font-weight: 700;
        padding: 5px;
        width: calc($searchbar-width - 4rem);
        height: 7.5px;
        color: $text-grey;
        border: 0;
        background-color: transparent;

        &:focus {
            outline: none;
        }

        &:focus-within {
            outline: none;
        }
    }
}

.btn.plus-button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: $cream;
    background-color: $black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: $pm-space-xl;
    right: $pm-space-lg;
    cursor: pointer;
}

/* 
==================== 
CODE IN TESTING
==================== 
*/
