@import './reset.scss';
@import './variables.scss';
@import './utils.scss';
@import './deco.scss';
@import './login.scss';
@import './home.scss';
@import './error.scss';
@import './taskCard.scss';

html {
    font-family: $font;
    color: $black;
    letter-spacing: $letter-spacing;
}

h1 {
    font-size: $h1-font-size;
    font-weight: 700;
}

h2 {
    font-size: $h2-font-size;
}

p {
    font-size: $p-font-size;
    font-weight: 400;
    color: $text-grey;
    line-height: 1.15rem;
    letter-spacing: -.05rem;
}

select {
    padding: $pm-space-sm $pm-space;
    border: $border;
    border-radius: $border-radius;
    color: $black;
    font-family: $font;

    &:focus {
        border: $tag-border-blue;
    }

}

p.text-small {
    font-size: $p-font-size-sm
}

.logo {
    position: fixed;
    mix-blend-mode: difference;
    color: white;
    right: 20px;
    top: 20px;
    z-index: 99;
    font-size: 1.25rem;
}

.bold {
    font-weight: 700;
}

.text-center {
    width: 100%;
    text-align: center;
}

.text-btn {
    cursor: pointer;
    text-decoration: underline;
    transition: $transition-duration;
}

.text-btn:hover {
    color: $black
}

.center-children {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.stick-right {
    margin-left: auto;
    margin-right: 0;
}

.absolute {
    position: absolute;
}

.hidden {
    visibility: hidden;
}

.light-color {
    color: $text-grey;
}

.dark-color {
    color: $black;
}

.flex-row {
    display: flex;
    flex-direction: row;

    &.ai-end {
        align-items: end;
    }
    &.ai-center {
        align-items: center;
    }
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-row.align-center {
    align-items: center;
}

.flex-row-align-bottom {
    display: flex;
    flex-direction: row;
    align-items: end; 
}

.inline {
    display: inline;
}

.pointer {
    cursor: pointer;
}

.editor-label {
    min-width: 60px;
}