@use './variables.scss';

.welcome-sidebar {
    background-color: $cream;
    border-right: 1px solid $dec-grey;
    width: 40vw;
    height: 100vh;

    display: flex;

    position: fixed;
    z-index: 1;

    h1 {
        font-weight: normal;
    }

    .welcome-content {
        display: flex;
        min-width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        width: 20rem;
    }
}


.login-bg-video {
    height: 100vh;
    width: 60vw;

    position: fixed;
    right: 0;

    video {
        position: absolute;
        z-index: 0;
        background-size: 100% 100%;
        top: 0px;
        left: 0px; /* fixed to left. Replace it by right if you want.*/
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
}
