@use './variables.scss';

// MARGIN

.mb-30 {
    margin-bottom: $pm-space-xl;
}

.mb-20 {
    margin-bottom: $pm-space-lg;
}

.mb-10 {
    margin-bottom: $pm-space;
}

.mb-5 {
    margin-bottom: $pm-space-sm;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: $pm-space-lg;
}

.mt-10 {
    margin-top: $pm-space;
}

.mx-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mx-20 {
    margin-top: $pm-space-lg;
    margin-bottom: $pm-space-lg;
}

.mx-10 {
    margin-top: $pm-space;
    margin-bottom: $pm-space;
}

.my-10 {
    margin-left: $pm-space;
    margin-right: $pm-space;
}

.mr-10 {
    margin-right: $pm-space;
}

.mr-20 {
    margin-right: $pm-space-lg;
}

.mr-30 {
    margin-right: $pm-space-xl;
}

.mr-40 {
    margin-right: $pm-space-xxl;
}


.form-input {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
        color: $text-grey;
    }

    input {
        border: .5px solid $dec-grey;
        border-radius: $border-radius-sm;
        padding-top: $pm-space;
        padding-bottom: $pm-space;
        padding-left: $pm-space;
    }
    
    input, textarea, select { 
        color: $black;
        outline: none;
    }
    
    ::placeholder {
        color: $text-grey;
    }
    
    .error-message {
        font-size: .85rem;
        color: $dark-red;
        margin-left: $pm-space;
        margin-top: $pm-space;
    }

    .error-input {
        border: .75px solid $dark-red;
    }
}

.server-error-container {
    border: .75px solid $dark-red;
    border-radius: $border-radius-sm;
    padding: $pm-space;
    background-color: $light-red;
    
    p {
        color: $dark-red;
        font-size: .85rem;
    }
}

.btn {
    background-color: $cream;
    font-size: 1rem;
    border: .5px solid $black;
    cursor: pointer;
    border-radius: $border-radius-sm;
}

.btn-xl {
    border-radius: $border-radius-lg;
    width: 100%;
    padding-top: $pm-space;
    padding-bottom: $pm-space;
}

.btn-right {
    padding-top: $pm-space;
    padding-bottom: $pm-space;
    padding-left: $pm-space-lg;
    padding-right: $pm-space-lg;
    width: auto;
}

.btn-dark {
    background-color: $white;
    border: .5px solid $black;
    color: $black;

}

.btn-dark-hover {
    transition: $transition-duration;
}

.btn-dark-hover:hover {
    background-color: $black;
    color: $white;

}

.fix-bottom {
    position: fixed;
    bottom: $pm-space-lg;
}