@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

$test-cream: #FFF6E3;
$cream: #FFFEFC;

$white: #FFFFFF;
$light-grey: #F9F9F9;
$light-grey-hover: #F2F2F2;
$text-grey: #C4C4C4;
$dec-grey: #D9D9D9;
$black: #424242;

$dark-blue: #335DD4;
$light-blue: #E7EFFF;

$status-dark-red: #a24949;
$dark-red: #d47575;
$light-red: #F9C8CA;

$dark-yellow: #402C1B;
$light-yellow: #FDECC8;

$favorite-yellow: #F6C83C;
$checked-blue: #0F75E0;

$dark-green: #1C3829;
$light-green: #DBECDB;

$success-green: #379663;
$danger-red: #c84d4d;

// tag colors
$tag-red-dark: #9c361f;
$tag-red-light: #FFD7CF;
$tag-border-red: .5px solid $tag-red-dark;

$tag-orange-dark: #E48832;
$tag-orange-light: #FFD9B4;
$tag-border-orange: .5px solid $tag-orange-dark;

$tag-green-dark: #4FB046;
$tag-green-light: #D8F7D5;
$tag-border-green: .5px solid $tag-green-dark;

$tag-blue-dark: #5374D4;
$tag-blue-light: #E7EFFF;
$tag-border-blue: .5px solid $tag-blue-dark;

$tag-yellow-dark: #F6CB47;
$tag-yellow-light: #FFF2CC;
$tag-border-yellow: .5px solid $tag-yellow-dark;


$font: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
$p-font-size-sm: .75rem;
$p-font-size: .85rem;
$p-font-size-lg: 1rem;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$icon-l: 1.3rem;
$letter-spacing: -.06rem;
$letter-spacing-plus: -0.01rem;

$transition-duration: .25s;
$transition-duration-l: .5s;

$border-radius-sm: 3px;
$border-radius: 5px;
$border-radius-lg: 7px;

$border: .5px solid $dec-grey;
$border-type: 1px solid $black;
$border-tag-form-hidden: 0px solid $dec-grey;
$btn-border: .5px solid $black;
$border-thick: 1px solid $dec-grey;
$border-thick-black: 1px solid $black;
$border-green: .5px solid $dark-green;
$border-yellow: .5px solid $dark-yellow;
$border-red: .5px solid $status-dark-red;

// pm (padding and margin space)
$pm-space-xsm: 3px;
$pm-space-sm: 5px;
$pm-space: 10px;
$pm-space-lg: 20px;
$pm-space-xl: 30px;
$pm-space-xxl: 40px;
$pm-space-xxxl: 60px;

$searchbar-width: 500px;
$sidebar-width: 240px;
$box-shadow: 0px 2px 9px -5px #00000040;
$checkbox-box-shadow: 0px 2px 4px -2px #00000040;
$edit-task-box-shadow: 2px 2px 7px 2px #00000025;