@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

$black: #424242;
$cream: #FFFEFC;
$white: #FFFFFF;
$text-grey: #C4C4C4;
$dec-grey: #D9D9D9;
$test-cream: #FFF6E3;

$dark-blue: #335DD4;
$light-blue: #E7EFFF;

$dark-red: #d47575;
$light-red: #F9C8CA;


$font: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
$transition-duration: .25s;

$border-radius-sm: 3px;
$border-radius-lg: 7px;

// pm (padding and margin space)
$pm-space: 10px;
$pm-space-lg: 20px;